body {
  max-width: 900px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
  background-color: #fffff8;

}
hr {
  color: #ddd;
}
code { background: #f9f9f9; }
pre code { background: none; }
a {
  color: black;
}

@media (prefers-color-scheme: light) {
    body {
      background-color: #fffff8;
    }
    hr {
      color: #ddd;
    }
    code { background: #f9f9f9; }
    pre code { background: none; }
    a {
      color: black;
    }
}
@media (prefers-color-scheme: dark) {
    body {
      background-color: #1b1b1b;
      color: #fffff8;
    }
    hr {
      color: #ddd;
    }
    code { background: #1b1b1b; }
    pre code { background: none; }
    a {
      color: #fffff8;
    }
    footer img {
        filter: invert(1);
    }
}


/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.title { 
  font-size: 1.1em; 
  line-height: 1em;
}
footer a { text-decoration: none; }
hr {
  border-style: dashed;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}

/* misc elements */
img, figure, iframe, video {
  max-width: 100%;
}
figure, iframe, video {
  display: block;
  margin: 30px auto 30px;
  text-align:center
}
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

footer img{
  width: 20px;
  height: 20px;
  margin: 0 4px;
  display: block;
  float: left;
}

